/demoComputeAP
/emotic
/places365
/pose
/proj
/weight
/.vector_cache
/.ipynb_checkpoints
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled4.ipynb
/Untitled5.ipynb
/Untitled6.ipynb
/Untitled7.ipynb